[submodule "setup_common"]
	path = setup_common
	url = https://github.com/OpenRaceAnalytics/setup_common
[submodule "application/pitmon/pps"]
	path = application/pitmon/pps
	url = https://gitlab.com/srfilipek/pps-tools.git
